.boxeurs-container[b-yvr97gbvkl] {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
}

.boxeur-card[b-yvr97gbvkl] {
    flex: 1 1 calc(25% - 16px);
    max-width: calc(25% - 16px);
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    text-align: center;
}

    .boxeur-card h3[b-yvr97gbvkl] {
        margin: 0 0 8px 0;
    }

    .boxeur-card p[b-yvr97gbvkl] {
        margin: 0;
        color: #666;
    }

    .boxeur-card:hover[b-yvr97gbvkl] {
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5);
    }

.boxeurs-titre[b-yvr97gbvkl] {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

